# Gradle
.gradle/
build/

# Local configuration
local.properties
*.iml
.idea/

# APKs
*.apk
*.ap_
*.aab

# Mac/Linux specific
.DS_Store
*.swp

# Logs
*.log

# Kotlin/Java compiled files
*.class
*.jar

# Proguard
proguard/

# NDK
obj/
.externalNativeBuild/

# Android Studio
captures/
.cxx/